{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4 col-md-offset-4">
    <div class="box">
      <h4 style="text-align:center">ログイン</h4>
      {% get_providers as socialaccount_providers %}
      {% for provider in socialaccount_providers %}
      <!-- ソーシャルログオン start -->
      {% if provider.name == "Google" %}
      <div class="input-group">
        <span class="input-group-addon addon-google">
          <i class="fa fa-fw fa-2x fa-google fa-fw"></i>
        </span>
        <a class="btn btn-lg btn-block btn-google socialaccount_provider {{provider.id}}"
          href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          Googleでサインイン</a>
      </div>
      {% elif provider.name == "Twitter" %}
      <div class="input-group">
        <span class="input-group-addon addon-twitter">
          <i class="fa fa-fw fa-2x fa-twitter fa-fw"></i>
        </span>
        <a class="btn btn-lg btn-block btn-twitter  socialaccount_provider {{provider.id}}"
          href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          Twitterでサインイン</a>
      </div>
      {% endif %}
      {% endfor %}
      <!-- ソーシャルログオン end -->

      <!-- django form -->
      <form role="form" class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {% for field in form %}

        <div class="form-group field">
          <label for="{{ field.id_for_label }}">{{field.label}}</label>
          {{ field }}
        </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert-message">
          <p>{{ error }}</p>
        </div>
        {% endfor %}

        <button type="submit" class="btn-block btn btn-lg btn-primary">サインイン</button>
        <p class="text-center"><a href="{{ signup_url }}">ユーザー登録はこちら</a></p>
        <p class="text-center"><a href="{% url 'account_reset_password' %}">パスワードを忘れた方 </a></p>
      </form>
    </div>
  </div>
</div>
<!-- django form end -->
{% endblock %}