{% extends 'base.html' %}
{% load static %}
{% load clothes_tags %}

{% block title %}Brand clothes list{% endblock title %}

{% block content %}
<ul class="breadcrumb bg-light" itemscope itemtype="{% breadcrumb_schema %}">
  {% url 'clothes_list_home' as home_url %}
  {% breadcrumb_home url=home_url title='Home' %}
  {% url 'clothes:brand_list' as brand_list_url %}
  {% breadcrumb_item url=brand_list_url title='Brands' position=2 %}
  {% breadcrumb_active url='' title=brand_name position=3 %}
</ul>

<div class="row">
  {% for clothes in brand_clothes_list %}
   {% include "clothes/_clothes_list.html" %}
  {% endfor %}
</div>
{% endblock content %}