{% extends 'base.html' %}
{% load static %}
{% load clothes_tags %}

{% block title %}Category clothes list{% endblock title %}

{% block content %}
<ul class="breadcrumb bg-light" itemscope itemtype="{% breadcrumb_schema %}">
  {% url 'clothes_list_home' as home_url %}
  {% breadcrumb_home url=home_url title='Home' %}
  {% url 'clothes:category_list' as category_list_url %}
  {% breadcrumb_active url='' title='Categories' position=2 %}
  {% breadcrumb_active url='' title=category_name position=3 %}
</ul>
<div class="row">
  {% for clothes in category_clothes_list %}
  {% include "clothes/_clothes_list.html" %}
  {% endfor %}
</div>
{% endblock content %}