<!-- Clothes list -->
<div class="col-xl-3 col-lg-4 col-md-6 mb-4">
    {% if clothes.images %}
    <div class="bg-white rounded shadow-sm"><a href="{{ clothes.get_absolute_url }}">
            <img src="{{ clothes.images_list.url }}" alt="" class="img-fluid card-img-top">
            {% else %}
            <div class="bg-white rounded shadow-sm"><a href="{{ clothes.get_absolute_url }}"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                        alt="" class="img-fluid card-img-top"></a>
                {% endif %}
                <div class="p-4">
                    <h6 class="text-muted mb-0 cloths-list-margin"><a href="{{ clothes.get_absolute_url }}"
                            class="text-dark">{{clothes.name}}</a></h6>

                    <h6 class="text-muted mb-0"><a
                            href="{% url 'clothes:category_clothes' slug=clothes.sub_category.category.slug %}"
                            class="text-dark">{{clothes.sub_category.category.name}}</a></h6>
                </div>
            </div>
    </div>
    <!-- End -->