body {
	font-family: 'Roboto';
}

img{
	width: 400px;
  }

/* .login-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/

/* font-family: arial, sans-serif;
    /*input has OS specific font-family*/

/* color: #069;
    text-decoration: underline;
    cursor: pointer; */

/* home list */

/* login page */

.box {
	background-color: #fff;
	padding: 35px 40px;
	margin-top: 60px;
	/*Remove, its example*/
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
	margin: 5px 0px;
}

.addon-google {
	background-color: hsl(345, 83%, 36%);
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-google, .btn-google:hover {
	background-color: hsl(345, 94%, 42%);
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 15px;
}

.addon-twitter {
	background-color: #00c6e9;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-twitter, .btn-twitter:hover {
	background-color: #00d7fa;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}

.btn-primary {
	border-radius: 2px;
	background-color: #23a9f6;
	border-color: #23a9f6;
	margin: 15px 0px;
}

a {
	color: #23a9f6;
}

.divider-form {
	border: 1px solid #EBEFF1;
	margin: 15px -40px 10px;
}

label {
	text-transform: uppercase;
	color: #bdc7d4;
}


.form-control {
	background: none;
	height: 40px;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	color: #8b9eb6;
	padding: 0px;
}

.form-control:focus {
	box-shadow: none;
}

.form-group {
	margin-bottom: 0;
}

div.field {
	margin-top: 10px;
}

div.field>span.helptext {
	font-size: 14px;
	color: #999;
}

div.field>label {
	display: block;
}

div.field>input, div.field>textarea, div.field>select, div.field>button {
	width: 100%;
	padding: 6px 12px;
	box-sizing: border-box;
	border-radius: 4px;
	border: solid 1px #999;
}

.alert-message {
	background-color: red;
	color: white;
}

/* Clothes list */

.inline-block_brand {
	display: inline-block;
	/* インラインブロック要素にする */
	/* 背景色指定 */
	padding: 20px;
	/* 余白指定 */
	height: 100px;
	/* 高さ指定 */
	width: 300px;
}

.dropdown-menu ul li {
	display: inline-block;
	color: black !important;
}

/* adds some margin below the link sets  */

.navbar .dropdown-menu div[class*="col"] {
	margin-bottom: 1rem;
}

.navbar .dropdown-menu {
	border: none;
	background-color: black !important;
	font-size: 18px;
}

.nav-item a {
	display: inline-block;
}

/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 992px) {
	/* remove the padding from the navbar so the dropdown hover state is not broken */
	.navbar {
		min-height:40px;
		margin-bottom: 30px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
	.navbar .nav-item {
		padding: .5rem .5rem;
		margin: 0 .25rem;
	}
	/* makes the dropdown full width  */
	.navbar .dropdown {
		position: static;
	}
	.navbar .dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;
		/*  height of nav-item  */
		top: 45px;
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.3s linear;
	}
	/* """""" */
	/* shows the dropdown menu on hover */
	.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
		display: block;
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.3s linear;
	}
	.navbar .dropdown-menu {
		border: 1px solid rgba(0, 0, 0, .15);
		background-color: #fff;
	}
}

/* rotate caret on hover */

.dropdown-menu>li>a:hover:after {
	text-decoration: underline;
	transform: rotate(-90deg);
}

.box-list{
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		justify-content: space-between;
		flex-flow: row wrap;
	   
	  }
.box-list li{
		flex: 0 0 19%;
		border: 1px solid #ccc;
		margin-bottom: 10px;
	  }

.banner {
		background: #a770ef;
		background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
		background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
	  }

/* clothes detail page */
.product_price {
		display: inline-block;
		font-size: 30px;
		font-weight: 500;
		margin-top: 9px;
		clear: left
	}

table.table-sm td, table.table-sm th {
		padding-top: .6rem;
		padding-bottom: .6rem;
	}

.px-0 {
		padding-left: 0!important;
	}

.w-25 {
		width: 25%!important;
}

.detail-picture {
	margin-bottom: 20px;
	text-align: center;	
}
