.bookcover {
	height: 300px;
	width: auto;
}

body {
	font-family: 'Roboto';
}

.box {
	background-color: #fff;
	padding: 35px 40px;
	margin-top: 60px;
	/*Remove, its example*/
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
	margin: 5px 0px;
}

.addon-google {
	background-color: hsl(345, 83%, 36%);
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-google, .btn-google:hover {
	background-color: hsl(345, 94%, 42%);
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 15px;
}

.addon-twitter {
	background-color: #00c6e9;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-twitter, .btn-twitter:hover {
	background-color: #00d7fa;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}

.btn-primary {
	border-radius: 2px;
	background-color: #23a9f6;
	border-color: #23a9f6;
	margin: 15px 0px;
}

p {
	color: #aebbcb;
}

a {
	color: #23a9f6;
}

.divider-form {
	border: 1px solid #EBEFF1;
	margin: 15px -40px 10px;
}

label {
	text-transform: uppercase;
	color: #bdc7d4;
}

strong {
	color: #95a5bb;
}

.form-control {
	background: none;
	height: 40px;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	color: #8b9eb6;
	padding: 0px;
}

.form-control:focus {
	box-shadow: none;
}

.form-group {
	margin-bottom: 0;
}

div.field {
	margin-top: 10px;
}

div.field>span.helptext {
	font-size: 14px;
	color: #999;
}

div.field>label {
	display: block;
}

div.field>input, div.field>textarea, div.field>select, div.field>button {
	width: 100%;
	padding: 6px 12px;
	box-sizing: border-box;
	border-radius: 4px;
	border: solid 1px #999;
}

.alert-message {
	background-color: red;
	color: white;
}

.info-message {
	background-color: rgb(108, 116, 236);
	color: white;
}

.inline-block_brand {
	display: inline-block;
	/* インラインブロック要素にする */
	/* 背景色指定 */
	padding: 20px;
	/* 余白指定 */
	height: 100px;
	/* 高さ指定 */
	width: 300px;
}

.dropdown-menu ul li {
	display: inline-block;
	color: black !important;
}

/* adds some margin below the link sets  */

.navbar .dropdown-menu div[class*="col"] {
	margin-bottom: 1rem;
}

.navbar .dropdown-menu {
	border: none;
	background-color: black !important;
	font-size: 18px;
}

.nav-item a {
	display: inline-block;
}

/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 992px) {
	/* remove the padding from the navbar so the dropdown hover state is not broken */
	.navbar {
		min-height:40px;
		margin-bottom: 30px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
	.navbar .nav-item {
		padding: .5rem .5rem;
		margin: 0 .25rem;
	}
	/* makes the dropdown full width  */
	.navbar .dropdown {
		position: static;
	}
	.navbar .dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;
		/*  height of nav-item  */
		top: 45px;
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.3s linear;
	}
	/* """""" */
	/* shows the dropdown menu on hover */
	.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
		display: block;
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.3s linear;
	}
	.navbar .dropdown-menu {
		border: 1px solid rgba(0, 0, 0, .15);
		background-color: #fff;
	}
}

ui
/* .navbar-nav li:hover .dropdown-menu {
    display: block;
}
/* rotate caret on hover */

.dropdown-menu>li>a:hover:after {
	text-decoration: underline;
	transform: rotate(-90deg);
}

*/
/* .login-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/

/* font-family: arial, sans-serif;
    /*input has OS specific font-family*/

/* color: #069;
    text-decoration: underline;
    cursor: pointer; */

}

*/