{% extends 'base.html' %}
{% load static %}

{% block title %}Shop list{% endblock title %}

{% block content %}
{% regroup shop_list by name.0 as shops %}
<ul> {% for shop in shops %} 
  <li><h5><a name="{{ shop.grouper|first }}" id="{{ shop.grouper|first }}">{{ shop.grouper }}</a></h5>
    {% for shop in shop.list %}
    <div class="inline-block_brand">
      <a name="{{shop.grouper|first }}"  id="{{ shop.grouper }}" href="{% url 'clothes:shop_clothes' slug=shop.slug %}">{{shop.name}}</a>
    </div>
    {% endfor %}
  </li>
  {% endfor %} </ul>
{% endblock content %}
